/* Scale In */
@keyframes scaleIn {
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slideLeftIn{
    0%{
        opacity: 0;
        left: -100%;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}